/* 상단바 */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top_logo{
    width: 150px;
    height: 100px;
    display:block;
}
nav>ul{
    text-align: right; 
}
nav>ul>li{
    display:flex;
    list-style: none;
    display:inline;
    margin: 0 15px;
}


/* 상자 */
.big_box{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 30px 15px;
    padding: 15px;
    padding-bottom: 25px;
    
    text-align: center;
}
.table_box{
    background-color: lightgray;
    border-top: 3px solid green;
    width: 70%;
    margin: 60px auto 0 auto;
    padding-bottom: 10px;
}
.table_box_s{
    background-color: lightgray;
    border-top: 3px solid green;
    width: 50%;
    margin: 60px auto 0 auto;
    padding-bottom: 10px;
}
.table_box_mrg{
    background-color: lightgray;
    border-top: 3px solid green;
    width: 95%;
    margin: 60px auto 0 auto;
    padding-bottom: 10px;
    max-height: 60%;
    overflow-y: auto;
}


/* big title */
.title{
    margin: 20px 0;
}

.search_style{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.search_style>div{
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}
.search_style>div>input{
    padding: 5px 15px;
    border: 1px solid lightgray;
    border-radius: 20px;
}
.input-warning::placeholder {
  color: #ff4d4d;
  font-weight: bold;
}
.input-warning {
  border: 1px solid #ff4d4d;
  background-color: #fff0f0;
}
.input_name{
    margin: 16px 15px 1px 15px;
}


/* 태이블 title */
.table_title{
    display: flex;
    margin: 10px 0;
}
.table_title>p{
    margin: 0 auto;
}
.btn-opn-mod{
    margin: 0 10px;
}


/* 테이블 long */
.tbl{
    width: 99%;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0 auto;
}
.tbl th, .tbl td {
    border: 1px solid black;
}
.tbl>thead{
    background-color: lightgray;
}
.tbl>tbody{
    background-color: white;
}


/* numname */
.num-box{   
    text-align: center;
}
#btn-opn-mod5{
    position: relative;
    left: 250px;
}
.nnl{
    margin: 20px 0;
}
.namenum{
    display: inline-block;
    margin: 0 30px;
}
.numtitle{
    text-align: left;
    margin-bottom: 5px;
    font-size: 20px;
}
.numbox{
    width: 140px;
    padding: 10px 0;
    vertical-align: middle;
    border: 1px solid black;
    background-color: lightgrey;
    font-size: 25px;
}
.area-box{
    margin-left: 455px;
}
.area-table{
    width: 300px;
    background-color: lightgray;
    padding: 10px;

}


/* 모달 팝업 */
body.modal-open {
    overflow: hidden;
}
.modal{
    position:fixed;
    display:none;
    
    justify-content: center;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background-color: rgba(0,0,0,0.4);
}
.modal-body{
    position:absolute;
    top:50%;

    width:60%;
    height:80%;

    padding:5px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;

    transform:translateY(-50%); 
}
.btn-clo-mod{
    float: right;
}
.modal_table{

}