<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Dashboard</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
   <link rel="stylesheet" th:href="@{/css/student_dashboard.css}" />
<!--  <link rel="stylesheet" href="/src/main/resources/static/css/student_dashboard.css" />-->
</head>

<body>
  <div class="dashboard-wrapper container my-5">
    <!-- 네비게이션 바 -->
    <header class="navbar-container mb-4 px-4 py-3 shadow-sm">
      <div class="d-flex justify-content-between align-items-center">
        <!-- 로고 -->
        <div class="d-flex align-items-center">
           <img th:src="@{/images/logo3.png}" alt="로고" class="logo-img me-2" />
<!--          <img src="/src/main/resources/static/images/logo3.png" alt="로고" class="logo-img me-2" />-->
        </div>
        <!-- 메뉴 -->
        <nav class="nav-links d-flex gap-3">
          <a href="#" class="nav-item">대시보드</a>
          <a href="#" class="nav-item">커뮤니티</a>
          <a href="#" class="nav-item">마이페이지</a>
          <a href="#" class="nav-item logout">로그아웃</a>
        </nav>
      </div>
    </header>

    <!-- 대시보드 -->
    <main class="dashboard">
        <!-- 1번째 행 -->
      <div class="row g-4 align-items-stretch">
        <!-- 사용자 프로필 카드 -->
        <div class="col-md-4">
          <div class="card profile-card h-100 p-4 text-center">
            <div class="profile-icon mb-3 d-flex justify-content-center">
              <div th:if="${user?.profileImage == null}" class="profile-placeholder rounded-circle d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-user fa-2x text-secondary"></i>
              </div>
            </div>
            <h5 class="fw-bold">사용자ID</h5>
            <div class="text-muted">전공</div>
            <div class="text-muted mb-3">학번</div>
            <div class="settings-icon">
              <i class="fa-solid fa-gear fa-lg text-secondary"></i>
            </div>
          </div>
        </div>

        <!-- 학점 이수 현황 카드 -->
        <div class="col-md-8">
          <div class="card credit-card h-100 p-4">
            <div class="chart-header-wrapper position-relative mb-3">
              <h5 class="fw-bold text-center">학점 이수 현황</h5>
              <a href="#" class="chart-detail-link" data-bs-toggle="modal" data-bs-target="#creditDetailModal">자세히 &gt;</a>
            </div>

            <div class="row d-flex justify-content-around align-items-start mb-3">
              <!-- 도넛 그래프 -->
              <div class="chart-wrapper mx-auto">
                <canvas id="creditDonutChart"></canvas>
              </div>

              <!-- 학점 정보 -->
              <div class="col-md-6">
                <div class="mb-3 col-md-6">
                  <label class="form-label">전체 이수 학점</label>
                  <input type="text" class="form-control" value="95" disabled />
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label">졸업 기준 학점</label>
                  <input type="text" class="form-control" value="135" disabled />
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <div class="cert-form">
                      <label class="form-label">졸업 인증 (외국어)</label>
                      <button class="btn btn-sm cert-btn" data-bs-toggle="modal" data-bs-target="#graduationModal">+</button>
                    </div>
                    <input type="text" class="form-control" value="Y/N" disabled />
                  </div>
                  <div class="col-md-6">
                    <div class="cert-form">
                      <label class="form-label">졸업 인증 (정보)</label>
                      <button class="btn btn-sm cert-btn" data-bs-toggle="modal" data-bs-target="#graduationModal">+</button>
                    </div>
                    <input type="text" class="form-control" value="Y/N" disabled />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 2번째 행 -->
        <div class="row g-4 align-items-stretch mt-1">
            <!-- 전공 및 3000단위 이수 카드 -->
            <div class="col-md-6">
                <div class="card h-100 p-4">
                    <h5 class="fw-bold text-center mb-3">전공 & 3000단위 이수</h5>
                    <div class="d-flex justify-content-around flex-wrap gap-3">
                        <!-- 전공필수 -->
                        <div class="text-center">
                            <div class="mini-chart-wrapper">
                                <canvas id="majorRequiredChart"></canvas>
                            </div>
                            <div class="mt-2 small text-muted">전공필수 (7/9)</div>
                        </div>
                            
                        <!-- 전공선택 -->
                        <div class="text-center">
                            <div class="mini-chart-wrapper">
                                <canvas id="majorElectiveChart"></canvas>
                            </div>
                            <div class="mt-2 small text-muted">전공선택 (24/27)</div>
                        </div>

                        <!-- 3000단위 이상 -->
                        <div class="text-center">
                            <div class="mini-chart-wrapper">
                                <canvas id="level3000Chart"></canvas>
                            </div>
                            <div class="mt-2 small text-muted">3000단위 이상 (31/45)</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 교양 이수 카드 -->
            <div class="col-md-6">
              <div class="card h-100 p-4">
                <h5 class="fw-bold text-center mb-3">교양 이수 현황</h5>
                <div class="d-flex justify-content-around flex-wrap gap-3">    
                  <!-- 교양기초 -->
                  <div class="text-center">
                    <div class="mini-chart-wrapper">
                      <canvas id="basicElectiveChart"></canvas>
                    </div>
                    <div class="mt-2 small text-muted">교양기초 (22/22)</div>
                  </div>

                  <!-- 대학교양 -->
                  <div class="text-center">
                    <div class="mini-chart-wrapper">
                      <canvas id="generalElectiveChart"></canvas>
                    </div>
                    <div class="mt-2 small text-muted">대학교양 (15/20)</div>
                  </div>

                  <!-- 전공탐색 -->
                  <div class="text-center">
                    <div class="mini-chart-wrapper">
                      <canvas id="explorationElectiveChart"></canvas>
                    </div>
                    <div class="mt-2 small text-muted">전공탐색 (12/21)</div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <!-- 졸업 인증 자격 확인 모달 -->
        <div class="modal fade" id="graduationModal" tabindex="-1" aria-labelledby="graduationModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 p-4">
              <div class="modal-header border-0 pb-0 text-center w-100">
                <h5 class="modal-title fw-bold mx-auto" id="graduationModalLabel">졸업 인증 자격 확인</h5>
                <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal" aria-label="닫기"></button>
              </div>
              <div class="modal-body">

                <!-- 외국어 인증 -->
                <div class="foreign-cert p-3 mb-3 text-center rounded-3">
                  <div class="fw-bold mb-2">외국어 인증</div>
                  <div class="cert-pass-text">교양영어 4개학기 이수 (완료) ✔</div>
                </div>

                <!-- 정보인증 -->
                <div class="border rounded-3 p-3 mb-3 text-center">
                  <div class="fw-bold mb-2">정보인증 / 산업실무역량인증</div>
                  <div class="cert-error-text">정보처리기사 (확인중) ⏳</div>
                </div>

                <div class="text-center mt-3">
                  <button class="btn custom-upload-btn">자격증 업로드</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- 학점 이수 상세 모달 -->
        <div class="modal fade" id="creditDetailModal" tabindex="-1" aria-labelledby="creditDetailModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content p-4 rounded-4">
              <div class="modal-header border-0 pb-3">
                <h5 class="modal-title fw-bold mx-auto" id="creditDetailModalLabel">전공 및 3,4000 단위 이수 현황 (상세)</h5>
                <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal" aria-label="닫기"></button>
              </div>
              <div class="modal-body" style="max-height: 500px; overflow-y: hidden;">
                
                <!-- 이수 완료 -->
                 <div class="credit-section bg-credit-complete mb-4 pt-3">
                  <div class="section-header">
                    <h6 class="fw-bold mb-3"><i class="fa-solid fa-check me-1" style="color: #1DCD9F;"></i> 이수 완료</h6>
                    <div class="table-responsive" style="max-height: 160px;">
                      <table class="table text-center align-middle">
                        <thead class="table-light">
                          <tr>
                            <th>구분</th>
                            <th>교과명</th>
                            <th>학정번호</th>
                            <th>학점단위</th>
                            <th>상태</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>전필</td>
                            <td>운영체제</td>
                            <td>SWE3001</td>
                            <td>3000</td>
                            <td><span class="badge bg-light text-dark">완료</span></td>
                          </tr>
                          <tr>
                            <td>전필</td>
                            <td>데이터베이스</td>
                            <td>SWE3017</td>
                            <td>3000</td>
                            <td><span class="badge bg-light text-dark">완료</span></td>
                          </tr>
                          <tr>
                            <td>전선</td>
                            <td>회로이론</td>
                            <td>SWE3010</td>
                            <td>3000</td>
                            <td><span class="badge bg-light text-dark">재수강완</span></td>
                          </tr>
                          <tr>
                            <td>전필</td>
                            <td>운영체제</td>
                            <td>SWE3001</td>
                            <td>3000</td>
                            <td><span class="badge bg-light text-dark">완료</span></td>
                          </tr>
                          <tr>
                            <td>전필</td>
                            <td>운영체제</td>
                            <td>SWE3001</td>
                            <td>3000</td>
                            <td><span class="badge bg-light text-dark">완료</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

                <!-- 이수 필요 -->
                 <div class="credit-section bg-credit-pending mb-4 pt-3">
                  <div class="section-header">
                    <h6 class="fw-bold mb-3"><i class="fa-solid fa-rotate-right me-1" style="color: #FF0000;"></i> 이수 필요 (추천 과목)</h6>
                    <div class="table-responsive" style="max-height: 160px;">
                      <table class="table text-center align-middle">
                        <thead class="table-light">
                          <tr>
                            <th>구분</th>
                            <th>교과명</th>
                            <th>학정번호</th>
                            <th>학점단위</th>
                            <th>상태</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>전필</td>
                            <td>운영체제</td>
                            <td>SWE3001</td>
                            <td>3000</td>
                            <td><span class="badge bg-light text-dark">완료</span></td>
                          </tr>
                          <tr>
                            <td>전필</td>
                            <td>데이터베이스</td>
                            <td>SWE3017</td>
                            <td>3000</td>
                            <td><span class="badge bg-light text-dark">완료</span></td>
                          </tr>
                          <tr>
                            <td>전선</td>
                            <td>회로이론</td>
                            <td>SWE3010</td>
                            <td>3000</td>
                            <td><span class="badge bg-light text-dark">재수강완</span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


    </main>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
     <script th:src="@{/js/student_dashboard.js}"></script>
<!--    <script src="/src/main/resources/static/js/student_dashboard.js"></script>-->
</body>
</html>
